body {
    min-height: 100vh;
}

[for="dt-length-0"] {
    margin: 10px;
}

.dashboard-container {
    min-height: calc(100vh - 112px);
}

.dashboard-container > .row {
    height: 100%;
}

.assigned-exams, .assigned-topics, .assigned-main-groups, .assigned-sub-groups {
    display: inline-block;
    /* justify-content: space-between; */
    position: relative;
    /* width: fit-content; */
}

.assigned-exams span, .assigned-topics span, .assigned-main-groups span, .assigned-sub-groups span {
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 12px;
    height: 12px;
    padding: 0;
    font-size: 8px;
    text-align: center;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
}

.assigned-exams button, .assigned-topics button, .assigned-main-groups button, .assigned-sub-groups button {
    background-color: #f8f9fa !important;
}

.add-option {
    left: 16px;
    /* top: 6px; */
}

.add-questions-options {
    width: 95%;
}

i[class*="fa-"] {
    cursor: pointer;
}

input[type="checkbox"].d-none + label{
    margin: 2px;
}

input:checked + label {
    background-color: lime;
}

table, th, tr, td {
    border: 1px solid black;
}
[colspan='8'] {
    text-align: center;
}

.toggle-correct {
    margin-left: 5px;
}

[for^="edit_options"] {
    margin-right: 5px;
}

.remove-option {
    margin-left: 5px;
}

.min-height-100-vh {
    min-height: 100vh;
}

#exam-duration {
    width: 50%;
}

.eit-options-container {
    display: flex;
    justify-content: space-between;
}

.eit-options-container span:last-child {
    padding-left: 10px;
    white-space: nowrap;
}

.add-to-quiz + label[for^="add-to-quiz"] {
    display: inline-block;
    font-size: 20px;
    margin: 0 !important;
}
.add-to-quiz:checked + label[for^="add-to-quiz"] {
    display: none;
    font-size: 20px;
    margin: 0 !important;
}
.add-to-quiz ~ label[for^="add-to-quiz"]:has(.text-success) {
    display: none;
    font-size: 20px;
    margin: 0 !important;
}
.add-to-quiz:checked ~ label[for^="add-to-quiz"]:has(.text-success) {
    display: inline-block;
    font-size: 20px;
    margin: 0 !important;
}

table.dataTable {
    margin-top: 0 !important;
}

.btn {
    background-color: #d6d2d2 !important;
    color: black !important;
    border-color: #d6d2d2 !important;
}

.question-bank-top-buttons {
    border-color: #d6d2d2 !important;
    color: black !important;
    background-color: transparent !important;
    border-width: 1.5px !important;
}












/* .rc-handle {
    position: absolute;
    width: 7px;
    cursor: col-resize;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
}

.rc-handle:hover {
    background: rgba(0, 0, 0, 0.2);
}

.rc-table {
    table-layout: fixed;
}

.rc-column-resizing {
    cursor: col-resize;
    user-select: none;
} */